/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

ul{
	list-style-type: none;
}




/* ==========================================================================
	Header
   ========================================================================== */
header{
	background-color: black;
}

header .navbar-inner {
	border-radius: 0;
}

header .container{
	width: 960px;
}

header.navbar .brand{
	padding-bottom: 0;
	margin-bottom: 0;
}
header .brand a{
	overflow: hidden;
	background: url(../img/logo.png) no-repeat;
	color: white;
	font-size: 38px;
	font-family: "Myriad Pro";
	line-height: 38px;
	text-indent: -9999px;
	width: 120px;
	height: 50px;
	display: block;
}

header .slogan{
	font-style: italic;
	font-family: "Myriad Pro";
	font-size: 17px;
	margin-top: 16px;
	font-weight: normal;
	margin-bottom: 0;
}

header .phone{
	font-size: 16px;
	color: whitesmoke;
	text-align: right;
	padding-top: 10px;
}

header .menu{
	padding-bottom: 8px;
	color: white;
	font-weight: lighter;
}

header.navbar .nav{
    margin-left: 5px;

}

header.navbar .nav > li > a{
	padding: 10px 5px;
	color: whitesmoke;
	letter-spacing: 1px;
	font-size: 14px;
}

header .join-toptal{
	text-align: right;
	padding-top: 23px;
}

header .join-toptal span{
	padding-right: 5px;
	font-size: 12px;
}

header.navbar .join-toptal button{
    margin-top: 0;

}

header .join-toptal button.login{
    margin-left: 15px;

}
/* ==========================================================================
   content
   ========================================================================== */

.profile [class*="span"] {
border: 1px solid #E5E5E5;
height: 240px;
margin: -1px;
}

.profile .profile-image, .bottom-profile .span12{
    border-right: 0;
}
.profile .profile-intro,
.profile .introduction .span3{
    border-left:0
}

.introduction .span3:first-child{
    border-left: 1px solid #e5e5e5;

}

.profile .portfolio, .profile .most-amazing{
    border-top: 0;
}
.profile .experience,
.profile .code,
.profile .conditions,
.profile .environment,
.profile .best-client,
.profile .location-map,
.profile .note{
	border-top: 0;
	border-left: 0;
}

.profile .action, .profile .span6{
    border:0
}

.profile .availibility{
    border-bottom: 1px solid #CCC;


}
/*----  profile intro   ------*/
.profile-image{
    background-color: #b8b8b8;

}

.profile-intro{
    background-color: #e6e6e6;
}

.profile-intro .details{
    margin: 15px 25px 0 30px;
}

.details .name{
    font-size: 45px;
    font-weight: 100;
    height: 40px;
    position: relative;
    margin-bottom: 10px;
}

.details .name a, .details .name input {
    padding: 19px 10px 0 10px;
    width: 400px;
    height: 21px;
    display: inline-block;
    line-height: 0;

}

.details .name input{
    padding: 0px 10px 0  10px;
    line-height: 42px;
    height: 38px;
    font-size: 38px; font-weight: 100;
}

.details a:hover{
    text-decoration:none;
    border: 1px solid #ccc
}

.name .icon-ok{
    float:right;
    position: absolute;
    right: 15px;
    top: 13px;
}

.details .location, .details .languages, .details .skills{
    margin-bottom: 0px;
    position: relative;

    height: 20px;
}

.details .location a,
.details .location input,
.details .languages a,
.details .languages input,
.details .skills a,
.details .skills input {
    padding: 0 10px;
    width: 400px;
    display: inline-block;

}

.details .location input,
.details .languages input,
.details .skills input{
    line-height: 12px;
    height: 18px; 
}

.location .validationMessage{
    position:absolute;
    
    

    top: 2px;
    right: 15px;
}

.location .icon-ok, .languages .icon-ok{
    position: absolute;
    right: 15px;
    top: 2px;
}

.details .skills{
    margin-top: 10px
}
.profile-intro .action .btn{
    -webkit-border-radius: 20px;

    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 3px 10px;
    margin: 20px 0 10px;
}

.profile-intro .download{
    margin: 85px 0 0 20px;
    background: url(../img/download_resume.png) no-repeat;
    height: 50px;
}

.profile-intro .download .btn{
    margin: 15px 0 0 15px;
}

.profile-intro .download .btn i{
    margin-top: 0;
}
/*----  profile in depth   ------*/
.profile-in-depth h4{
    text-align: center;
}

.profile-in-depth{
    text-align: center;
}

.profile-in-depth .add{
    padding-top: 33%;
}

.code .add{
   padding-top: 23%;
}

.environment .add{
   padding-top: 15%;
}

.availibility h2{
    font-size:28px
}

.quote{
	background: url(../img/quote.png) no-repeat;
}
/*---- let me introduce ------*/

.introduction .add{
   padding-top: 45%;
}

.let-me-introduce .span12{
    border:0;
    height: 35px;
    padding-top: 35px;
    padding-bottom: 20px;
}

.let-me-introduce h2{
	font-weight: 100;
	margin: 0;
}

/*----  bottom profile   ------*/
.bottom-profile{
    background-color: #e5e5e5;
    border:0;

}

.bottom-profile .span12{
    height: 85px;
    padding-top: 30px;}

.bottom-profile h3{
    display:inline;
    font-weight: normal;
}

.bottom-profile p{}

.bottom-profile button.btn{
    font-size: 18px;
    margin-bottom: 5px;
}
/*----  toptal skills    ------*/
.toptal-skills h4{
    padding: 50px 0 25px;
}

.toptal-skills ul{
    margin:0;
}
.toptal-skills li a{
 margin-left: 17px;
}

.toptal-skills li a:hover{
    background-color:black;
    color:white;
    text-decoration:none;
    cursor: default;
}

.toptal-skills li.first a{
 margin-left: 0;
}

.toptal-skills li span.index{
    font-weight: bold;

    display: inline-block;
    width: 13px;
}

/* ==========================================================================
	footer
   ========================================================================== */

footer .pre-footer{
	background-color: black;
	height: 100px;
	margin-top: 55px;
}

footer .pre-footer .content{
	text-align: center;
	padding-top: 30px;
}


footer .pre-footer h3{
    display: inline;
    color: grey;
    font-weight: 200;
}

footer .pre-footer h3 .highlight{
    color: whitesmoke;
}


footer .footer{
	background-color: #cccccc;
	height: 240px;
}

footer .footer .container{
	padding-top: 20px
}

footer .span6 p{
	margin-right: 50px;
}
footer ul{
	margin: 0 0 10px 0;
	color: black;
}

footer ul li{
    padding-bottom: 5px;

}

footer ul li a{
	width: 100%;
	display: inline-block;

}

footer .span1{
	font-size: 15px;
	padding-top: 7px;
}

footer .span1 ul li{
    padding-bottom: 0;

}

footer .span1 ul li a{
	font-weight: bold;
	padding: 3px 0;
}


footer .terms{
	font-size: 9px;
	margin-top: 10px;
}

footer .terms .pull-right a{
    margin: 0 3px;

}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.btn.rounded{
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	padding: 10px 25px; margin: 0 5px 2px;
}
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hide {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.italic{
	font-style: italic;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}